# Folders
/.venv/
/.quarto/
/.posit/
/output/*
/private/*

# Files
**/*.quarto_ipynb
**/*.quarto_ipynb_*
*.pdf
*.html
/code/src/*
!/code/src/*.R
!/code/src/*.py
!/code/src/*.cpp
!/code/src/*.stan
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
